doctype html 
html
    head
        link(rel="stylesheet" href="style.css")
        style. 
            p{
                color:red;
                text-decoration: underline;
            }
    body 
        p This is america
        h1(style="text-align:center") Hello