doctype html 
html
    head
    body
       h1#pageTitle Page Title! 
       p.big-para.
        Here is some text for 
        you 
       p.big-para.
        Here is some text for 
        you
       .display-box
       #wata   